*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
   content: "";
   display: table;
   clear: both;
}

/* header upgrade */

header{
   height: 100px;
   min-width: calc(100vw - 250px);
   background-color: darkorange;
   float: right;
}

/* menu a sx */

nav{
   min-height: calc(100vh - 100px);
   width: 250px;
   background-color: cadetblue;
   float: left;
}

/* main centrale */

main{
   min-height: calc(100vh - 100px);
   background-color: blueviolet;
   
}

/* footer bloccato in fondo */

footer{
   height: 100px;
   width: 100vw;
   background-color: #282828;
}