*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
   content: "";
   display: table;
   clear: both;
}

.wrapper{
   width: 100%;
   height: 100vh;
}

/* header upgrade */

header{
   height: 70px;
   width: calc(100vw - 230px);
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   align-items: center;
   display: flex;
   justify-content: end;
   top: 0;
   right: 0;
   padding-right: 10px;
   z-index: 999;
}

.button.upgrade{
   float: right;
   border: 1px solid white;
   border-radius: 20px;
   font-size: 13px;
   padding: 10px 15px;
   text-transform: uppercase;
   transition: all 0.5s
}

.button a{
   padding: 20px;
   color: white;
   text-decoration: none;
}

.upgrade:hover{
   padding: 15px 20px;
   border-radius: 40px;
}

/* menu a sx - NAV */

nav{
   height: calc(100% - 100px);
   width: 230px;
   background-color: black;
   float: left;
   color: white;
}

nav a{
   color: slategrey;
   text-decoration: none;
}

.comandi{
   height: calc(100% - 70px - 60px);
   overflow: hidden;
   padding: 0 10px;
}

#logo{
   width: 100%;
   height: 70px;
   padding: 15px;
}

#logo img{
   height: 100%;
}

#logo-mini{
   width: 100%;
   height: 70px;
   padding: 15px;
   display: none;
}

#logo-mini img{
   height: 100%;
   display: none;
}

#nav-mini{
   display: none;
}

nav ul li{
   list-style: none;
   margin-bottom: 5px;
}

nav ul li a:hover,
.crea-playlist a:hover{
   color: white;
}

.add-playlist:hover{
   background-color: white;
   border-radius: 50%;
}

nav ul li img{
   width: 25px;
   padding-right: 5px;
}

.playlist{
   height: 70%;
   padding-top: 20px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}

.add-playlist{
   width: 40px;
   height: 40px;
   background-color: slategray;
   color: black;
   display: flex;
   font-size: 40px;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   margin-right: 10px;
   float: left;
   transition: all 0.5s;
}

.crea-playlist{
   float: left;
   margin-top: 10px;
   line-height: 60px;
}

.playlist ul{
   overflow-y: scroll;
}

.playlist ul li{
   padding-bottom: 15px;
}

/* lower nav */

.nav-footer{
   height: 60px;
   width: 100%;
   overflow: hidden;
}

.nav-footer-higher{
   width: 90%;
   margin: 0 auto 5px;
   font-size: 15px;
}
.nav-footer-higher a{
   padding-bottom: 20px;
}

.fa-arrow-alt-circle-down{
   margin-right: 5px;
}

.nav-footer-lower{
   width: 90%;
   padding-top: 5px;
   margin: 0 auto;
   border-top: 1px solid slategray;
}

.nav-footer-lower a img{
   width: 10%; 
   float: left;
   border: 1px solid white;
   border-radius: 50%;
   background-color: gray;
}

.nav-footer-lower a h3{
   margin-left: 30px;
}

.nav-footer a:hover{
   color: white;
}


/* main centrale */

main{
   height: calc(100% - 100px);
   background-color: #141922;
   overflow: auto;
   padding-top: 70px;
}

.main-menu ul li a{
   text-transform: uppercase;
   text-decoration: none;
   color: slategray;
   font-size: 13px;
}

.main-menu ul li a:hover{
   color: white;
   border-bottom: 1px solid greenyellow;
}

.main-menu{
   width: 60%;
   margin: 0 auto;
}

.main-menu ul{
   list-style: none;
}

.main-menu ul li{
   float: left;
   padding-right: 15px;
}

main h2{
   color: white;
   font-size: 30px;
}

.container{
   overflow-y: scroll;
   margin: 30px 10px;
}

.recently-played,
.created-for, 
.popular{
   display: flex;
   margin-bottom: 20px;
}

.song{
   margin-top: 30px;
   margin-right: 20px;
   width: 15%;
   cursor: pointer;
}

.bg-button{
   position: relative;
}

.overlay{
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
}

.overlay i{
   font-size: 40px;
   color: white;
}

.bg-button:hover .overlay{
  visibility: visible;
}


.song img{
   width: 100%;
}

.song-info{
   width: 100%;
   margin-top: 10px;
   text-align: center;
   color: white;
   font-size: 12px;
}

.song-info p{
   color: slategray;
   font-size: 10px;
}

.container p{
   color: slategray;
   font-size: 13px;
   margin: 5px 0 10px;
}


/* footer bloccato in fondo */

footer{
   width: 100%;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
}


/* left footer */
.current-song{
   width: 100%;
   padding:15px 10px;
   margin: auto 0;
   display: flex;
}

.current-song img{
   width: 70px;
   height: 70px;
   cursor: pointer;
}

.current-song-info{
   padding: 20px 10px;
   font-size: 12px;
}

.current-song-album{
   color: #5B5D63;
   cursor: pointer;
}

.current-song-title{
   cursor: pointer;
}

.mid-footer{
   width: 50%;
   margin-bottom: 20px;
}

.left-footer,
.right-footer{
   width: 20%;
}

.right-footer{
   margin-bottom: 20px;
}

#like-save{
   color: #5B5D63;
   float: right;
   padding: 25px;
}

#like-save i{
   cursor: pointer;
}

#like-save i:hover{
   color: white;
}

/* mid footer */

.control-music,
.time-music{
   height: 50%;
}

/* higher mid footer */
.control-music{
   color: white;
   font-size: 25px;
   align-items: center;
   justify-content: space-around;
   text-align: center;
   padding-bottom: 20px;
}

.control-music i{
   cursor: pointer;
   padding: 0 5px;
}

.control-music i:hover,
.footer-control i:hover{
   font-size: 30px;
   color: greenyellow;
}

/* lower mid footer */

.time-music{
   display: flex;
   align-content: space-between;
   justify-content: center;
   font-size: 12px;
   line-height: 5px;
}

.current-time,
.total-time{
   cursor: pointer;
}

.line-time{
   padding: 0 15px;
}

#active-time{
   width: 5vw;
   height: 5px;
   background-color: white;
   float: left;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
}

#active-time-point{
   position: absolute;
   left: 50px;
   top: -3px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: white;
   visibility: hidden;
}

#active-time:hover #active-time-point{
   visibility: visible;
}


#active-time:hover{
   background-color: greenyellow;
}

#remaining-time{
   width: 25vw;
   height: 5px;
   background-color: slategrey;
   border-radius: 5px;
   cursor: pointer;
}


/* right footer */

.right-footer{
   width: 20%;
}

.footer-control {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 10px;
}

.footer-control i{
   cursor: pointer;
}

#sound-time{
   position: relative;
}

#active-sound{
   width: 30px;
   height: 5px;
   border-radius: 5px;
   background-color: white;
   float: left;
   cursor: pointer;
}

#active-sound-point{
   position: absolute;
   left: 25px;
   top: -3px;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: white;
   visibility: hidden;
}

#remaining-sound{
   width: 100px;
   height: 5px;
   border-radius: 5px;
   background-color: slategrey;
   cursor: pointer;
}

#active-sound:hover{
   background-color: greenyellow;
}

#active-sound:hover #active-sound-point{
   visibility: visible;
}

/* media query */

@media screen and (min-width:900px) and (max-width:1200px) {
   header{
   }
}


@media screen and (min-width:576px) and (max-width:768px) {
   .recently-played .five,
   .recently-played .six{
      display: none;
   }

   .song{
      width: 25%;
   }

   .footer-control{
      display: block;
      text-align: center;
   }

   .footer-control i{
      margin-bottom: 20px;
      margin-left: 5px;
   }
}

@media screen and (max-width:576px){
   .recently-played .three,
   .recently-played .four,
   .recently-played .five,
   .recently-played .six{
      display: none;
   }

   header{
      width: calc (100% - 70px)
   }

   .song{
      width: 50%;
   }

   #logo-mini,
   #logo-mini img{
      display: block;
   }

   #logo{
      display: none;
   }

   #nav-mini{
      display: block;
   }

   nav ul li img{
      width: 40px;
      text-align: center;
      margin-left: 8px;
   }

   #nav-normal{
      display: none;
   }

   .playlist,
   .nav-footer{
      display: none;
   }

   nav{
      width: 70px;
   }

   /* footer */

   .footer-control{
      display: block;
      text-align: center;
   }

   .footer-control i{
      margin-bottom: 20px;
   }

   #like-save{
      visibility: hidden;
   }

   .mid-footer{
      margin-left: 20px;
   }

   .main-menu{
      width: 80%;
   }
}