*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
   content: "";
   display: table;
   clear: both;
}

/* header upgrade */

header{
   height: 100px;
   min-width: calc(100vw - 250px);
   background-color: darkorange;
   float: right;
}

/* menu a sx */

nav{
   min-height: calc(100vh - 100px);
   width: 250px;
   background-color: cadetblue;
   float: left;
}

/* main centrale */

main{
   min-height: calc(100vh - 100px);
   background-color: blueviolet;
   
}

/* footer bloccato in fondo */

footer{
   height: 100px;
   width: 100vw;
   background-color: #282828;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
}

.left-footer,
.right-footer{
   min-width: 25%;
   height: 100%;
}

/* left footer */
.current-song{
   width: 100%;
   padding:15px 10px;
   margin: auto 0;
   display: flex;
}

.current-song img{
   width: 70px;
   height: 70px;
   cursor: pointer;
}

.current-song-info{
   padding: 20px 10px;
   font-size: 12px;
}

.current-song-album{
   color: #5B5D63;
   cursor: pointer;
}

.current-song-title{
   cursor: pointer;
}

.mid-footer{
   min-width: 50%;
   height: 100%;
}

#like-save{
   color: #5B5D63;
   float: right;
   padding: 25px;
}

#like-save i{
   cursor: pointer;
   padding-left: 10px;
}

#like-save i:hover{
   color: white;
}

/* mid footer */

.control-music,
.time-music{
   height: 50%;
}

/* higher mid footer */
.control-music{
   color: white;
   font-size: 25px;
   margin: 0 auto;
   text-align: center;
   padding: 10px;
}

.control-music i{
   cursor: pointer;
   padding: 0 5px;
}

.control-music i:hover{
   color: yellowgreen;
}

/* lower mid footer */

.time-music{
   display: flex;
   align-content: space-between
}